:root {
    --color-theme-primary: black;
    --color-theme-secondary: #043c3b;
    --color-theme-menu: #1D2327;
    --color-main-title: #DCDCDC;
    --color-article-title:   #E92A74;
    --color-article-background: #4CA2C2;
}

