:root {
    --color-theme-primary: black;
    --color-theme-secondary: #0c4e4d;
    --color-theme-menu: #1D2327;
    --color-main-title: #DCDCDC;
    --color-article-title:   #db1c5f;
    --color-article-background: #c6c1c1;
}

