@import "custom-colors.css";

.body {
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.generic-header {
    background-color: var(--color-theme-primary);
    color: var(--color-main-title);
    width: 100%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.generic-footer {
    color: var(--color-main-title);
}

#menu-menu-principal {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-right: 0px;
}

footer {
    color: var(--color-main-title);
}

.header-perso {
    background-color: var(--color-theme-primary);
    color: var(--color-main-title);
    font-family: "Lucida Console", "Courier New", monospace;
    width: 100%;
    padding: 0px 0px 0px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.header-perso img {
    /* height: 40vh;  logo version animée */
    height: 20vh;
}

/* .logo {
   padding-right: 20px;
} */

.mini-menu {
    margin-top: 20px;
    margin-bottom: 15px;
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;
}

.bonjour {
    color: var(--color-main-title);
    display: flex;
    justify-content: end;
    margin-top: 3px;
    margin-right: 10px;
} 

.menu-header {
    background-color: var( --color-theme-menu);
    padding: 0.5px 0px;
}

.front-article {
    /* background-color: var(--color-article-background); */
    background-color: #DCDCDC;
    /* background-color: (#DCDCDC, #4CA2C2); */
    /* background: linear-gradient(#2BA1C4, #4F438C, #B72E79); */
    color: var(--color-theme-primary);
    box-sizing: border-box;
    border-radius: 20px;  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* display: flex;
    justify-content: center; */
    width: 30vw; 
    margin-left: 8vw; 
    margin-top: 2vw;     
    /* position: absolute; 
    z-index: 100;     */
    /*overflow: scroll;*/
}

.front-a { 
    grid-area: 1 / 1 / 2 / 4;
    /* background: linear-gradient(#2BA1C4, #4F438C); */
    background: linear-gradient(#4F438C, #2BA1C4);
    /* , #A23B82 */
    border-top-right-radius: 10px;  
    border-top-left-radius: 10px;
}

.front-b { 
    grid-area: 2 / 2 / 5 / 3;
    background: linear-gradient(#D3D3D3, #C0C0C0, #A9A9A9, #808080);
    border-bottom-right-radius: 10px;
}

.front-d { 
    grid-area:  2 / 1 / 4 / 2;
    background: linear-gradient(#D3D3D3, #C0C0C0, #A9A9A9, #808080);   
    border-bottom-left-radius: 10px;
}

.front-a p {
    font-size: small;    
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px solid;
}

.front-article h1 {
    padding-left: 10px;
    padding-top: 0px;
    color: var(--color-article-title);
    text-shadow: #222833 3px 2px 7px;
    -webkit-text-stroke: #4F438C;
    font-weight: normal;
    font-size: xx-large;
    font-family: fantasy;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.front-article p {
    padding-left: 8px;
    padding-right: 8px;
}

.front {
    /* background-color: var(--color-theme-secondary); */
    background-image: url("font-frontpage.png"); 
    /* display: flex;
    justify-content: center; */
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
    width: 100%; */
    margin-right: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 110px;
    
}

/* .front img {
    width: 100%;
    overflow: scroll;
} */
/* 
.front-x { 

    grid-area: 1 / 1 / 4 / 4;
}

.front-y { 
    grid-area: 1 / 1 / 3 / 3;; 
} */

.menu-footer ul li {
    color: var(--color-main-title);
    list-style-type: none;
    text-decoration: none;
}

.menu-footer ul li a {
    color: var(--color-main-title); 
    display: flex;
    list-style-type: none;
    text-decoration: none;
    font-size: medium;
    padding-bottom: 2px;
}

.menu-header ul li {   
    list-style-type: none;
    text-decoration: none;
}

.menu-header ul li a {
    Font-family: Consolas, monaco, monospace;
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
    color: var(--color-main-title);
    list-style-type: none;
    text-decoration: none;
}

.row {
    margin: 25px 0px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-theme-primary);
}

/* .copyright {
    display: flex;
    justify-content: end;
    font-size: smaller;
    margin-right: 35px;
    margin-top: 70px;
} */

/* #wpforms-126 {
    background-color: var(--color-article-background);
    margin-left: 7vw;
    margin-right: 7vw;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    border-radius: 50px;  
} */

                    /* --- --- CSS FORMATION & PARCOURS PROFESSIONNEL --- --- */

                                    /* FORMATION = RESUME */

/* .formations-article {
    background-color: var(--color-article-background);
    color: var(--color-theme-primary);
    box-sizing: border-box;
    border: 2px solid;
    display: flex;
    justify-content: center;
    width: 30vw; 
    margin-left: 15px; 
    margin-top: 15px;
    border-radius: 50px; 
} */
/* 
.resume {
     background-color: var(--color-theme-secondary);
    background-image: url("./img/font-frontpage.png");
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: relative;
    width: 100vw;
    margin-right: 0px;
    padding-right: 0px;
} */

.resume {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: url("font-frontpage.png");
    background-size: cover;
    background-attachment: fixed;
    width: 100%; 
    padding-bottom: 40px;
    /* border: 1px solid red; */
}

.resume-article {   
    background-color: #DCDCDC;  
    color: var(--color-theme-primary);
    box-sizing: border-box;
    border-radius: 20px;  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 8vw; 
    margin-top: 40px;      
}


.resume-article:nth-child(odd) {
    grid-area: 1 / 1 / 2 / 2; 
    /* grid-column: 1 / span 2; 
    grid-row: 1 / 2;  */
    width: 30vw; 
    
}

.resume-article:nth-child(even) {
    margin-right: 20px;
    grid-area: 1 / 2 / 2 / 3;
    /* grid-column: 2 / span 2; 
    grid-row: 1 / 2;   */
    width: 30vw; 
     
}

/* .resume-article:nth-child(1) {
    grid-column: 1 / span 2; 
    grid-row: 1 / 2; 
}

.resume-article:nth-child(2) {
    grid-column: 3 / span 2; 
    grid-row: 1 / 2; 
} */


/* .resume-x { 
    grid-area: 1 / 1 / 4 / 4;
}

.resume-y { 
    grid-area: 1 / 1 / 3 / 3;; 
} */

.resume img {
    height: 270px; 
    border-bottom-left-radius: 10px;
}

.resume-a { 
    grid-area: 1 / 1 / 2 / 4;
    /* background: linear-gradient(#2BA1C4, #4F438C); */
    background: linear-gradient(#4F438C, #2BA1C4);
    /* , #A23B82 */
    border-top-right-radius: 10px;  
    border-top-left-radius: 10px;
}

.resume-b { 
    grid-area: 2 / 2 / 5 / 3;
    background: linear-gradient(#D3D3D3, #C0C0C0, #A9A9A9, #808080);
    border-bottom-right-radius: 10px;
}

.resume-d { 
    grid-area:  2 / 1 / 4 / 2;
    background: linear-gradient(#D3D3D3, #C0C0C0, #A9A9A9, #808080);   
    border-bottom-left-radius: 10px;
}

.resume-a p {
    font-size: small;    
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px solid;
}

.resume-article h1 {
    padding-left: 10px;
    padding-top: 3px;
    color: var(--color-article-title);
    text-shadow: #222833 3px 2px 7px;
    -webkit-text-stroke: #4F438C;
    font-weight: normal;
    font-size: xx-large;
    font-family: fantasy;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.resume-article p {
    padding-left: 8px;
    padding-right: 8px;
}

                                        /* --- --- PARCOURS PRO --- --- */

.pro {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: url("font-frontpage.png");
    background-size: cover;
    background-attachment: fixed;
    box-sizing: border-box;
    width: 100%; 
    padding-bottom: 40px;
    /* border: 1px solid red; */
}

.pro-article {   
    background-color: #DCDCDC;  
    color: var(--color-theme-primary);
    border-radius: 20px;  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 60px; 
    margin-top: 40px;     
}

.pro-article:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2; 
    /* grid-column: 1 / span 2; 
    grid-row: 1 / 2;  */
    width: 380px; 
    
}

.pro-article:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
    /* grid-column: 2 / span 2; 
    grid-row: 1 / 2;   */
    width: 380px; 
        
}

.pro-article:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
    /* grid-column: 2 / span 2; 
    grid-row: 1 / 2;   */
    width: 380px;   
        
}

.pro-article:nth-child(4) {
    grid-area: 2 / 1 / 3 / 2;
    /* grid-column: 2 / span 2; 
    grid-row: 1 / 2;   */
    width: 380px; 
        
}

.pro-article:nth-child(5) {
    grid-area: 2 / 2 / 3 / 3;
    /* grid-column: 2 / span 2; 
    grid-row: 1 / 2;   */
    width: 380px;  
        
}

.pro-article:nth-child(6) {
    grid-area: 2 / 3 / 3 / 4;
    /* grid-column: 2 / span 2; 
    grid-row: 1 / 2;   */
    width: 380px;  
        
}

.pro img {
    height: 285px; 
    border-bottom-left-radius: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    overflow: hidden;
}

.pro-a { 
    grid-area: 1 / 1 / 2 / 4;
    /* background: linear-gradient(#2BA1C4, #4F438C); */
    background: linear-gradient(#4F438C, #2BA1C4);
    /* , #A23B82 */
    border-top-right-radius: 10px;  
    border-top-left-radius: 10px;
    width: 440px;
}

.pro-b { 
    grid-area: 2 / 2 / 5 / 3;
    background: linear-gradient(#D3D3D3, #C0C0C0, #A9A9A9, #808080);
    border-bottom-right-radius: 10px;
    width: 220px;
    overflow-wrap: break-word;
}

.pro-b p a {
    width: 210px;
    padding: 0px;
    margin: 0px;
}

.pro-d { 
    grid-area:  2 / 1 / 4 / 2;
    background: linear-gradient(#D3D3D3, #C0C0C0, #A9A9A9, #808080);   
    border-bottom-left-radius: 10px;
    width: 220px;
}

.pro-a p {
    font-size: small;    
    margin-left: 30px;
    margin-right: 30px;
    border-bottom: 1px solid;
}

.pro-article h1 {
    padding-left: 10px;
    padding-top: 3px;
    color: var(--color-article-title);
    text-shadow: #222833 3px 2px 7px;
    -webkit-text-stroke: #4F438C;
    font-weight: normal;
    font-size: xx-large;
    font-family: fantasy;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.pro-article p {
    padding-left: 8px;
    padding-right: 8px;
}
















/* --- --- --- --- */

/* .formations-article h1 {
    padding-left: 10px;
    padding-top: 3px;
    color: var(--color-article-title);
    font-weight: bolder;
}

.formations-article p {
    padding-left: 8px;
    padding-right: 8px;
}

.formations {
    background-color: var(--color-theme-secondary);
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.formations-article img {
   padding-left: 20px;
   padding-right: 20px;
} */

/* .contact-article {

} */

.contact-article h1 {
    color: var(--color-main-title);
    font-family: cursive;
    margin-left: 15vw;
    
}

.blog-container {  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: var(--color-theme-secondary);
    padding-top: 20px;
  
}

.contact {
    /* background-color: var(--color-theme-secondary); */
    background-image: url('font-frontpage.png');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}

.contact-titre {
    background-color: var(--color-article-background);
    background-image: linear-gradient(#D3D3D3, #C0C0C0, #A9A9A9, #808080);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px; 
    width: 70vw;  
}

.contact-titre h1 {
    color: var(--color-article-title);
    font-family: fantasy,cursive;
    font-size: xx-large;
    margin-left: 20px;
    margin-right: 20px;
    /* text-shadow: #495C9C 3px 2px 7px; */
    -webkit-text-stroke: #4F438C;
    font-weight: lighter;
    border-bottom: solid 0.5px #1D2327;
    /* font-weight: bolder; */
}

#wpforms-126-field_0 {
    border-radius: 10px;
    background-color: #f4f0f0;
}

#wpforms-126-field_0-last {
    border-radius: 10px;
    background-color: #f4f0f0;
}

#wpforms-126-field_1 {
    border-radius: 10px;
    background-color: #f4f0f0;
}

#wpforms-126-field_2 {
    border-radius: 10px;
    background-color: #f4f0f0;
    margin-right: 20px;
}

#wpforms-submit-126 {
    background-color: #d41a61;
    color: #CACACA;
    border-radius: 10px;
    margin-left: 30px;
}

.blog-article {
    background-color: var(--color-article-background);
    color: var(--color-theme-primary);
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30vw; 
    margin-left: 15px; 
    margin-top: 15px;
    border-radius: 50px;
}

.blog-article h2 {
    padding-left: 25px;
    padding-top: 3px;
    color: var(--color-article-title);
    /*text-shadow: #222833 3px 2px 7px;*/
    font-weight: bolder;
}

.blog-article p {
    padding-left: 20px;
}

.blog-titre-principal {
    background-color: var(--color-theme-secondary);
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog-titre-principal h1 {
    color: var(--color-main-title);
    font-family: cursive;
    margin-left: 2vw;
}

.cookies {
    background-color: var(--color-theme-secondary);
    padding-top: 10px;
    padding-bottom: 20px;
}

.cookies-article {
    background-color: var(--color-article-background);
    color: var(--color-theme-primary);
    box-sizing: border-box;
    border: 2px solid;
    display: flex;
    justify-content: center;
    width: 70vw; 
    margin-left: 16vw; 
    margin-top: 40px;
    padding-bottom: 20px;
    border-radius: 50px;
}

.cookies-article h1 {
    padding: 15px 0px 0px;
    color: var(--color-article-title);
    /*text-shadow: #222833 3px 2px 7px;*/
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}

.confident {
    background-color: var(--color-theme-secondary);
    padding-top: 10px;
    padding-bottom: 20px;
}

.confident-article {
    background-color: var(--color-article-background);
    color: var(--color-theme-primary);
    box-sizing: border-box;
    border: 2px solid;
    display: flex;
    justify-content: center;
    width: 70vw; 
    margin-left: 16vw; 
    margin-top: 40px;
    border-radius: 50px;
}

.confident-article h1 {
    padding: 15px 0px 0px;
    margin: 0px 0px 0px;
    color: var(--color-article-title);
    /*text-shadow: #222833 3px 2px 7px;*/
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
}

.confident-titre {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.single-article {
    background-color: var(--color-article-background);
    color: var(--color-theme-primary);
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30vw; 
    margin-left: 15px; 
    margin-top: 15px;
    border-radius: 50px;
}

.single-article h1 {
    padding: 15px 0px 0px;
    margin: 0px 0px 0px;
    color: var(--color-article-title);
    /*text-shadow: #222833 3px 2px 7px;*/
    font-weight: bolder;
}

.post__meta {
    margin-bottom: 0px;
    padding: 0px 0px 0px;
}

.post__meta p {
    padding: 0px 0px 0px;
}

.post__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 0px 0px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.post__content p {
    padding: 0px 0px 0px;
    margin: 10px;
}

.loisirs {
    background-color: var(--color-theme-secondary);
}

.single {
    background-color: var(--color-theme-secondary);
    padding-top: 10px;
    padding-bottom: 20px;
}

.formations {
    display: flex;
    flex-wrap: wrap;
}

.parcours-pro {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-theme-secondary);
}

/* STANDARDISATION ARTICLES */

.petit-article {
    background-color: var(--color-article-background);
    color: var(--color-theme-primary);
    border: 2px solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 30vw; 
    margin-left: 15px; 
    margin-top: 15px;
    border-radius: 50px;
}

.petit-article h1 {
    padding-left: 25px;
    padding-top: 3px;
    color: var(--color-article-title);
    /*text-shadow: #222833 3px 2px 7px;*/
    font-weight: bolder;
}


